* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

@media only screen and (max-width: 375px) {
	body {
	background-color: hsl(233, 47%, 7%);
	padding: 100px 0;
}

.parent-div {
	padding-bottom: 10px;
  background-color: hsl(244, 38%, 16%);
  width: 325px;
  margin: auto;
  border-radius: 10px;
}

.header-image-mobile {
	padding-bottom: 20px;
	margin: auto;
	display: block;
	width: 325px;
	height: 250px;
	border-radius: 10px;
}

.header-image-desktop {
	display: none;
}

h1 {
	color: hsla(0, 0%, 100%, 0.9);
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
  text-shadow: 10px;
  margin: 0 20px;
  font-size: 30px;
}

h2 {
	padding: 20px 0;
	color: hsla(0, 0%, 100%, 0.60);
	font-size: 14px;
	text-align: center;
	font-weight:  400;
	font-family: 'Inter', sans-serif;; 
	margin: 0 40px;
	line-height: 23px;
}

.list-of-stuff {
	text-align: center;
	font-family: 'Inter', sans-serif;
	list-style-type: none;
	padding-bottom: 20px;
	line-height: 30px;
}

.list-of-stuff .number-items {
	font-size: 23px;
	color: hsl(0, 0%, 100%);
	font-weight: 700;
}

.list-of-stuff .word-items {
	font-size: 12px;
	color: hsla(0, 0%, 100%, 0.6);
	font-weight: 400;
	text-transform: uppercase;
  letter-spacing: 1px;
}

.ul-div1 {
	padding-bottom: 23px;
}

.ul-div2 {
	padding-bottom: 23px;
}

.ul-div3 {
	padding-bottom: 23px;
}

.attribution { 
	font-size: 12px; 
	text-align: center; 
	font-family: 'Inter', sans-serif;
	color: #CD9B9B; 
} 
 .attribution a { 
 	color: #C75D4D; 
}
}

@media only screen and (min-width: 375px) {

body {
	background-color: hsl(233, 47%, 7%);
	padding: 100px 0;
}

.parent-div {
	padding-bottom: 10px;
  background-color: hsl(244, 38%, 16%);
  width: 325px;
  margin: auto;
  border-radius: 10px;
}

.header-image-mobile {
	padding-bottom: 20px;
	margin: auto;
	display: block;
	width: 325px;
	height: 250px;
	border-radius: 10px;
}

.header-image-desktop {
	display: none;
}

h1 {
	color: hsla(0, 0%, 100%, 0.9);
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
  text-shadow: 10px;
  margin: 0 20px;
  font-size: 30px;
}

h2 {
	padding: 20px 0;
	color: hsla(0, 0%, 100%, 0.60);
	font-size: 14px;
	text-align: center;
	font-weight:  400;
	font-family: 'Inter', sans-serif;; 
	margin: 0 40px;
	line-height: 23px;
}

.list-of-stuff {
	text-align: center;
	font-family: 'Inter', sans-serif;
	list-style-type: none;
	padding-bottom: 20px;
	line-height: 30px;
}

.list-of-stuff .number-items {
	font-size: 23px;
	color: hsl(0, 0%, 100%);
	font-weight: 700;
}

.list-of-stuff .word-items {
	font-size: 12px;
	color: hsla(0, 0%, 100%, 0.6);
	font-weight: 400;
	text-transform: uppercase;
  letter-spacing: 1px;
}

.ul-div1 {
	padding-bottom: 23px;
}

.ul-div2 {
	padding-bottom: 23px;
}

.ul-div3 {
	padding-bottom: 23px;
}

.attribution { 
	font-size: 12px; 
	text-align: center; 
	font-family: 'Inter', sans-serif;
	color: #CD9B9B; 
} 
 .attribution a { 
 	color: #C75D4D; 
}

}

@media only screen and (min-width: 1440px) {
body {
	background-color: hsl(233, 47%, 7%);
	padding: 160px 100px; 
	
}

.parent-div {
	position: relative;
	width: 1200px;
}

.header-image-mobile {
	display: none;
}

.header-image-desktop {
	display: block;
	
	border-radius: 0px 10px 10px 0px;
	width: 50%;
	height: 100%;
	position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  float: right;
}

.header-h1 {
	width: 50%;
	padding-top: 85px;
	padding-left: 70px;

}

.header-h1 h1 {
	width: 60%;
	text-align: left
}

.subheader-h2 {
	width: 50%;
	padding-top: 10px;
	padding-left: 50px;
	
}

.subheader-h2 h2 {
	width: 60%;
	text-align: left;
}

.ul-all {
	padding-left: 7%;
	padding-top: 20px;
	text-align: left;
	position: relative;
	width: 50%;
	bottom: 0;
}

.ul-all .list-of-stuff{
	width: 55%;
	height: 121px;
	text-align: left;
}

.ul-all .list-of-stuff div {
	float: left;
	padding: 0 10px;
	text-align: left;
}

.ul-div3 .number-items {
	text-transform: uppercase;
	text-align: left;
}

.attribution {
	text-align: left;
	padding-left: 20px;
}

}



